@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

section {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  max-width: 400px;
  min-width: 300px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2rem;
  font-family: "Inter", sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a,
a:visited {
  color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  margin: 3px;
  padding: 8px;
  border-radius: 0.3rem;
  border: 0.2rem solid #77e4d4;
  outline: none;
  background: transparent;
  color: #fff;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
  margin: 1rem;
}

.flexGrow {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.logout {
  width: 70px;
  border: none;
  align-self: center;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg, #77e4d4 0%, #998ceb 100%);
  color: #3a3845;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 15px;
  padding: 0.25rem;
  border-radius: 0.2rem;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}
h3 {
  margin: 10px 0;
  color: #fff;
}
